<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <div class="container">
        <h2 id="cname3">Bar Chart</h2>
        <div>
          <canvas id="myChart"></canvas>
        </div>
        <form>
          <label for="cname"></label><br>
          <input type="text" id="cname" name="fname"><br>
          <label for="lname">Type label names:</label><br>
          <input type="text" id="barr0" name="arr0">
          <input type="text" id="barr1" name="arr1">
          <input type="text" id="barr2" name="arr2">
          <!-- <input type="text" id="arr3" name="arr3">
          <input type="text" id="arr4" name="arr4"> -->
  
          <br>
          <label for="input">Type input values:</label><br>
          <input type="text" id="lbname1" name="lname">
          <input type="text" id="lbname2" name="lname">
          <input type="text" id="lbname3" name="lname">
          <!-- <input type="text" id="lname" name="lname">
          <input type="text" id="lname" name="lname"> -->
  
        </form>
        
        <button id="generateBarChart">Generate</button>
      </div>


      <script src="../js/bar.js"></script>
</body>
</html>