<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    

</head>
<body>
    <div class="imageBox">
        <p>Choose a chart type:</p>
        <a href="file:///C:/Users/madri/Desktop/Charts/views/pie.html">
            <img class="image slow-transition" src="../img/pie.png" alt="pie image">
        </a>
        <a href="file:///C:/Users/madri/Desktop/Charts/views/bar.html">
            <img class="image" src="../img/bar.png" alt="bar image">
        </a>
    </div>
</body>
</html>


    
    
    
    
